.AgentInspector {
  background-color: var(--theme-dark);

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  padding: 0;
  padding-top: 0.8rem;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  overflow: hidden;
  scrollbar-width: none;
  list-style: none;
}

.AgentInspector h2 {
  user-select: none;
  display: inline-block;
  flex: 0 1 auto;
  padding-left: 0.8rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 900;
}

.AgentInspector__Header {
  display: flex;
  flex-direction: row;
  height: 2.2rem;
  justify-content: space-between;
}

.AgentInspector__Header .codicon {
  margin-right: 2px;
}

.AgentInspector__List {
  overflow: auto;
  scrollbar-width: none;
  padding-bottom: calc(
    var(--discord-button-y-offset) + var(--discord-button-size)
  );
}

.AgentInfo {
  /* make the background fill the container */
  transition: background-color 0.1s;
  padding-left: 0.8rem;
  padding-right: 1.2rem;
  line-height: 130%;
  font-size: 0.8rem;
  color: var(--theme-grey);
  margin-right: 0;
  text-overflow: ellipsis;
  margin-bottom: 0.7rem;
}

/* Field name + value container */
.AgentInfo__Children {
  line-height: 170%;
  padding-left: 10px;
  border-left: solid;
  border-width: 0.5px;
  margin-left: 7px;
  border-color: var(--theme-border);
  white-space: pre;
}
.AgentInfo__Children,
.AgentInfo__Children * {
  text-overflow: ellipsis;
  overflow-x: hidden;
}

/* Field name */
.AgentInfo__Header,
.AgentInfo__Name {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.AgentInfo__Header .codicon,
.AgentInfo__Name .codicon {
  margin-right: 2px;
}

.AgentInfo--hovered,
.AgentInfo__Header:hover,
.AgentInfo__Name:hover {
  background-color: var(--selected-background-color);
  font-size: 0.8rem;
  color: var(--theme-white);
  fill: var(--theme-white);
}

.AgentInfo__Header:hover .AgentInfo__Delete {
  opacity: 1;
}

/* Deselect button */
.AgentInfo__Delete {
  opacity: 0;
  background-color: var(--selected-background-color);
  color: var(--theme-white);

  /* reset button */
  transition: opacity 0.1s;
  opacity: 0;
  display: inline-block;
  border: none;
  margin: 0;
  cursor: pointer;
  user-select: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.AgentInspector__ClearSelection {
  border: none;
  fill: var(--theme-white);
  border-radius: 0.4rem;
  margin-right: 0.6rem;
}

.AgentInspector__ClearSelection:hover {
  border: none;
  background-color: var(--selected-background-color);
  fill: var(--theme-white);
}
