@font-face {
  font-family: "Apercu Mono";
  src: url("https://cdn-us1.hash.ai/assets/fonts/apercu-mono-light-pro.eot");
  src: url("https://cdn-us1.hash.ai/assets/fonts/apercu-mono-light-pro.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-mono-light-pro.woff")
      format("woff"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-mono-light-pro.woff2")
      format("woff2"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-mono-light-pro.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Apercu Mono";
  src: url("https://cdn-us1.hash.ai/assets/fonts/apercu-mono-regular-pro.eot");
  src: url("https://cdn-us1.hash.ai/assets/fonts/apercu-mono-regular-pro.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-mono-regular-pro.woff")
      format("woff"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-mono-regular-pro.woff2")
      format("woff2"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-mono-regular-pro.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Apercu Mono";
  src: url("https://cdn-us1.hash.ai/assets/fonts/apercu-mono-medium-pro.eot");
  src: url("https://cdn-us1.hash.ai/assets/fonts/apercu-mono-medium-pro.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-mono-medium-pro.woff")
      format("woff"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-mono-medium-pro.woff2")
      format("woff2"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-mono-medium-pro.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Apercu Mono";
  src: url("https://cdn-us1.hash.ai/assets/fonts/apercu-mono-bold-pro.eot");
  src: url("https://cdn-us1.hash.ai/assets/fonts/apercu-mono-bold-pro.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-mono-bold-pro.woff")
      format("woff"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-mono-bold-pro.woff2")
      format("woff2"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-mono-bold-pro.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
