@font-face {
  font-family: "Apercu";
  src: url("https://cdn-us1.hash.ai/assets/fonts/apercu-light-pro.eot");
  src:
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-light-pro.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-light-pro.woff")
      format("woff"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-light-pro.woff2")
      format("woff2"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-light-pro.ttf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Apercu";
  src: url("https://cdn-us1.hash.ai/assets/fonts/apercu-light-italic-pro.eot");
  src:
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-light-italic-pro.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-light-italic-pro.woff")
      format("woff"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-light-italic-pro.woff2")
      format("woff2"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-light-italic-pro.ttf")
      format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Apercu";
  src: url("https://cdn-us1.hash.ai/assets/fonts/apercu-regular-pro.eot");
  src:
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-regular-pro.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-regular-pro.woff")
      format("woff"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-regular-pro.woff2")
      format("woff2"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-regular-pro.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Apercu";
  src: url("https://cdn-us1.hash.ai/assets/fonts/apercu-regular-italic-pro.eot");
  src:
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-regular-italic-pro.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-regular-italic-pro.woff")
      format("woff"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-regular-italic-pro.woff2")
      format("woff2"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-regular-italic-pro.ttf")
      format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Apercu";
  src: url("https://cdn-us1.hash.ai/assets/fonts/apercu-medium-pro.eot");
  src:
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-medium-pro.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-medium-pro.woff")
      format("woff"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-medium-pro.woff2")
      format("woff2"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-medium-pro.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Apercu";
  src: url("https://cdn-us1.hash.ai/assets/fonts/apercu-medium-italic-pro.eot");
  src:
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-medium-italic-pro.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-medium-italic-pro.woff")
      format("woff"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-medium-italic-pro.woff2")
      format("woff2"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-medium-italic-pro.ttf")
      format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Apercu";
  src: url("https://cdn-us1.hash.ai/assets/fonts/apercu-bold-pro.eot");
  src:
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-bold-pro.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-bold-pro.woff")
      format("woff"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-bold-pro.woff2")
      format("woff2"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-bold-pro.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Apercu";
  src: url("https://cdn-us1.hash.ai/assets/fonts/apercu-bold-italic-pro.eot");
  src:
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-bold-italic-pro.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-bold-italic-pro.woff")
      format("woff"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-bold-italic-pro.woff2")
      format("woff2"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-bold-italic-pro.ttf")
      format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Apercu";
  src: url("https://cdn-us1.hash.ai/assets/fonts/apercu-black-pro.eot");
  src:
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-black-pro.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-black-pro.woff")
      format("woff"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-black-pro.woff2")
      format("woff2"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-black-pro.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Apercu";
  src: url("https://cdn-us1.hash.ai/assets/fonts/apercu-black-italic-pro.eot");
  src:
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-black-italic-pro.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-black-italic-pro.woff")
      format("woff"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-black-italic-pro.woff2")
      format("woff2"),
    url("https://cdn-us1.hash.ai/assets/fonts/apercu-black-italic-pro.ttf")
      format("truetype");
  font-weight: 900;
  font-style: italic;
}
