:root {
  --scroll-fade-shadow-height: 20px;
}

.ScrollFadeShadow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 -19px 15px -15px
    rgba(0, 0, 0, var(--scroll-fade-intensity, 0.75));
  pointer-events: none;
  height: var(--scroll-fade-shadow-height);
}

.ScrollFadeShadow--transition {
  transition: opacity 0.2s ease;
}
