.Select {
  position: relative;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

.Select--disabled {
  pointer-events: none;
  user-select: none;
}

.Select select {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  width: 100% !important;
  z-index: 4;
}

.Select__Value {
  margin-right: auto;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.Select .IconArrowDownDrop {
  margin: 0 8px;

  /** This is to prevent the size of this changing the height of the parent */
  transform: scale(3.2);
  flex-shrink: 0;
}
