.ActivityHistory {
  --experiments-icon-spacing: 4px;
  --padding-x: 19px;

  background-color: var(--theme-dark);
  position: relative;

  width: 100%;
  height: 100%;
  overflow: auto;

  font-size: 13px;
  color: white;
}

.ActivityHistory,
.ActivityHistory__Container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.ActivityHistory__Container--no-content {
  height: 100%;
}

.ActivityHistory__Items {
  margin: -1px 0 0;
  padding: 0;

  > :last-child {
    margin-bottom: calc(0px - var(--scroll-fade-shadow-height));
  }
}

.ActivityHistory__Items__Loading {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * This ensures the shadow always shows at the bottom, even when its animating
 * out after the filter has been changed so there aren't enough items to
 * scroll anymore
 */
.ActivityHistory__FadeSpacer {
  height: 0;
  flex-grow: 1;
}

.ActivityHistory__Fade {
  display: block;
  position: sticky !important;
  bottom: -1px !important;
  z-index: 2;
  flex: 0 0 auto;
}

.ActivityHistory__Header {
  flex: 0 0 auto;
  display: flex;
  height: 45px;
  align-items: center;
  padding: 0 var(--padding-x);

  position: sticky;
  top: 0;
  background-color: var(--theme-dark);
  z-index: 3;

  // There's a weird bug with position sticky where you can see
  // a small gap above it in some scenarios – this covers that gap
  &:before {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--theme-dark);
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
  }

  h2 {
    user-select: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0 5px 0 0;
  }

  .IconLoading {
    margin-left: auto;
  }
}

.ActivityHistory__Header__Select {
  fill: currentColor;
  top: -1px;
  margin-left: auto;
  font-size: 12px;
  user-select: none;

  .IconArrowDownDrop {
    top: -1px;
    position: relative;
  }
}

.ActivityHistory__Header__Border {
  position: sticky;
  top: 45px;
  height: 1px;
  background-color: var(--theme-border);
  pointer-events: none;
  left: 0;
  right: 0;
  z-index: 1;
  margin-left: var(--padding-x);
  flex-shrink: 0;
}
