# generated types
packages/hashai/src/lib/graphql/types.ts
packages/hashai/src/lib/graphql/fragmentTypes.json
.old

# Terraform
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
**/terraform.tfstate.d/*
.circleci/terraform/tfapply

# Python bin for AWS Lambda function
.circleci/terraform/lambda/six.py
.circleci/terraform/lambda/*/
.circleci/terraform/lambda.zip

# Crash log files
crash.log
yarn-error.log

# eslint cache
.eslintcache
packages/hashai/.eslintcache

#ts cache
tsconfig.tsbuildinfo
