.FileBannerShared {
  cursor: pointer;
  user-select: none;
}

.FileBannerShared .IconInformationOutline {
  fill: var(--theme-blue);
}

.FileBannerShared a {
  text-decoration: none;
  color: var(--theme-blue);
  font-weight: bold;
}

.FileBannerShared a:hover {
  text-decoration: underline;
}
