.SimulationRunId {
  font-family: var(--mono-font);
  color: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  font-weight: normal;
  position: relative;
  top: 0.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 1;
}
