.HashCoreSection {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.HashCoreSection-splitter {
  position: relative;
  flex: auto;
  display: flex;

  --hcs-primary-min-width: 172px;
  --hcs-primary-min-height: 120px;
}

.HashCoreSection-splitter
  > .splitter-layout:not(.splitter-layout-vertical)
  > .layout-pane-primary {
  min-width: var(--hcs-primary-min-width);
}

.HashCoreSection-splitter > .splitter-layout-vertical > .layout-pane-primary {
  min-height: var(--hcs-primary-min-height);
}

.HashCoreSection-splitter
  > .splitter-layout:not(.splitter-primary-hidden):not(.splitter-layout-vertical)
  > .layout-pane:not(.layout-pane-primary) {
  max-width: calc(100% - 1px - var(--hcs-primary-min-width));
}
.HashCoreSection-splitter
  > .splitter-layout-vertical:not(.splitter-primary-hidden)
  > .layout-pane:not(.layout-pane-primary) {
  max-height: calc(100% - 1px - var(--hcs-primary-min-height));
}

.HashCoreSection-splitter .layout-pane-primary.overflow-visible {
  overflow: visible;
}

.HashCoreSection .tab-button {
  background-color: transparent;
  border: none;

  padding: 1px;
}

.HashCoreSection .tab-button .IconClose {
  margin-left: 6px;
}

.HashCoreSection * + .tab-button {
  margin-left: 12px;
}

.HashCoreSection .tab-button {
  fill: var(--theme-grey);
  transition: fill 0.1s;
}

.HashCoreSection .tab-button:hover {
  fill: var(--theme-white);
}
