.ModalReleaseUpdate textarea {
  resize: none;
}

.ModalReleaseUpdate .Fancy {
  align-self: flex-end;
  justify-self: flex-end;
}

.ModalReleaseUpdate .Fancy-hindex {
  font-size: 13px;
  white-space: nowrap;
  flex: 0 0 auto;
}
