.ModalOutputMetrics .ModalFormEntry__Label {
  margin-bottom: 1rem;
}

.ModalOutputMetrics__Operations {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;
}

.ModalFormEntry_Input > input {
  .AnalysisModal__RepeatableContentItem--metric & {
    border-radius: 8px 0 0 8px;
  }

  .AnalysisModal__RepeatableContentItem--metric:not(.AnalysisModal__RepeatableContentItem--single)
    & {
    border-right: none !important;
  }

  .AnalysisModal__RepeatableContentItem--single & {
    border-radius: 8px;
  }

  .AnalysisModal__RepeatableContentItem--value & {
    border-radius: 0 8px 8px 0;
    border-left: 0;
  }
}

.AnalysisModal__RepeatableContentItem--single,
.AnalysisModal__RepeatableContentItem--metric,
.AnalysisModal__RepeatableContentItem--value {
  --field-background-color: black;
}

.AnalysisModal__RepeatableContentItem--comparison {
  --field-background-color: rgba(0, 0, 0, 0.1);
}

.react-select__control {
  .AnalysisModal__RepeatableContentItem--comparison & {
    border-radius: 0 !important;
    border-right: none !important;
  }
}

.AnalysisModal__RepeatableContentItem__FieldDropdown .react-select__control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}

.AnalysisModal__RepeatableFooterItem {
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1rem 0 1.5rem 2rem;

  span {
    margin-right: 0.5rem;
    padding-left: 0.2rem;
  }
}
